body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
}

.signupcontainer {
    display: flex;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#signup {
    margin-right: 10px;
    margin-left: 10px;
}

.logincontainer {
    display: flex;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#login {
    margin-right: 10px;
    margin-left: 10px;
}

.gameform {
    display: flex;
    margin-top: 20px;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
    height: 450px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}